@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header {
    background-color: #FA7921;
    display: grid;
    grid-template-columns: 150px auto;
    height: 5em;
}

#logo-link, a img  {
    width: 5em;
    height: 5em;
}


nav a {
    text-align: center;
    color: #A30B37;
    text-decoration: none;
    padding: 20px;
    font-family: Teko;
    font-size: xx-large;

}

nav a:hover {
    text-align: center;
    color: #f4dbd8;
    text-decoration: none;
    padding: 20px;
    font-family: Teko;
    font-size: xx-large;
    background-color: #8b5fbf;
}

nav {
    display: flex;
    justify-content: space-around;
}

.mission-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
    
}

.mission-part img {
    grid-column: 1/5;
    grid-row: 1/10;
    width: 100%;
    height: 100%;
}

.text-box {
    grid-row: 2/4;
    text-align: center;
    border-radius: 4%;
    background-color: #FA7921;
    color: #A30B37;
    grid-column: 2/4;
    
}



p {
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 1em;
}

h1 {
    font-size: 3em;
    font-family: Teko;
    margin: 10px;
    margin-top: 20px;

}

.vision-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
    
    
}

.text-box2 {
    grid-row: 6/8;
    text-align: center;
    border-radius: 4%;
    background-color: #FA7921;
    color: #A30B37;
    grid-column: 2/4;
}

.vision-part img {
    grid-column: 1/5;
    grid-row: 1/10;
    width: 100%;
    height: 100%;
}

footer {
    margin-top: 2em;
    background-color: #FA7921;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 2em;
    height: 2em;
    padding-top: 15px;
    background-color: transparent;
}

h3 {
    font-family: Teko;
    
}

h3:nth-of-type(1) {
    color: #8b5fbf;
}

h3 a {
    text-decoration: none;
    color: #A30B37;
    padding: 20px;
    

}

footer a:hover {
    text-decoration: none;
    color: #f4dbd8;
    background-color: #8b5fbf;
}

div.social a, div.social a:hover {
    background-color: transparent;
    text-decoration: none;

}

.expertise-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
    
}

.expertise-part img {
    grid-column: 1/5;
    grid-row: 1/10;
    width: 100%;
    height: 100%;
}

.language-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
       
}

.language-part img {
    grid-column: 1/5;
    grid-row: 1/10;
    width: 100%;
    height: 100%;
}

.text-box3 {
    grid-row: 3/7;
    text-align: center;
    border-radius: 4%;
    background-color: #FA7921;
    color: #A30B37;
    grid-column: 1/2;
    
}


.text-box4 {
    grid-row: 3/6;
    text-align: center;
    border-radius: 4%;
    background-color: #FA7921;
    color: #A30B37;
    grid-column: 4/5;
}

.requirement-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 15vh);
    
    
    
}

.requirement-part img {
    grid-column: 1/5;
    grid-row: 1/6;
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}

.logistics-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 18vh);
    
       
}

.logistics-part img {
    grid-column: 1/5;
    grid-row: 1/7;
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}

.text-box5 {
    grid-row: 2/5;
    text-align: center;
    border-radius: 4%;
    background-color: #FA7921;
    color: #A30B37;
    grid-column: 4/5;
    font-size: 0.70em;
    
}

.logistics-part h1 {
    grid-row: 1/2;
    text-align: center;
    border-radius: 4%;
    background-color: #FA7921;
    color: #A30B37;
    grid-column: 2/4;    
    margin-top: 0;
    padding-top: 0.5em;
}

.logistics-part p {
    grid-row: 6/7;
    text-align: center;
    margin: 0 auto;
    background-color: #FA7921;
    color: #A30B37;
    grid-column: 1/5;    
    padding-top: 1.5em;
}